body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:40px;
  width:10px;
  height:1100px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:1083px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1100px;
}
#u1 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u2 {
  position:absolute;
  left:1166px;
  top:2px;
  width:30px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1070px;
  top:9px;
  width:86px;
  height:16px;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1060px;
  top:0px;
  width:10px;
  height:32px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u7 {
  position:absolute;
  left:10px;
  top:40px;
  width:30px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:80px;
  width:30px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1030px;
  top:0px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:70px;
  width:40px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:110px;
  width:40px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u15 {
  position:absolute;
  left:10px;
  top:120px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:990px;
  top:0px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:160px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:200px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:820px;
  top:18px;
  width:170px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u24 {
  position:absolute;
  left:60px;
  top:50px;
  width:300px;
  height:300px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u25 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:380px;
  top:50px;
  width:140px;
  height:140px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u27 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:380px;
  top:210px;
  width:140px;
  height:140px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u29 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:60px;
  top:370px;
  width:140px;
  height:140px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:370px;
  width:140px;
  height:140px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u33 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:380px;
  top:370px;
  width:140px;
  height:140px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u35 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:240px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:0px;
  width:30px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:80px;
  top:7px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
